/* 间距和布局 */

table {
	table-layout: fixed;
	border: 3px solid #ff33cc;
	width: 100%;
	border-collapse: collapse;
}
thead th:nth-child(1) {
	width: 20%;
}

thead th:nth-child(2) {
	width: 20%;
}

thead th:nth-child(3) {
	width: 15%;
}

thead th:nth-child(4) {
	width: 35%;
}

th,td {
	padding: 20px;
}

/* 一些简单排版 */

html {
  font-family: arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

tbody td {
  text-align: center;
}
/* 图形和颜色 */

thead,tfoot {
	background: url('leopardskin.jpg');
	color: white;
	text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid #ff33cc;
}

tbody tr:nth-child(odd) {
 	background-color: #ff33cc;
}

tbody tr:nth-child(even) {
 	background-color: #e495e4;
}

tbody tr {
    background-image: url("noise.png");
}

table {
  background-color: #ff33cc;
}