/*import web font*/
@font-face {
    font-family: 'web-font';
    src: url('file:///D:/web/web-project/CSS样式化/排版社区大学首页/webfontwebfont/amaranth-regular-webfont.woff2') format('woff2'),
         url('file:///D:/web/web-project/CSS样式化/排版社区大学首页/webfont/amaranth-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General setup */
@font-face {
    font-family: 'alex_brushregular';
    src: url('font/alexbrush-regular-webfont.woff2') format('woff2'),
         url('font/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 1.5;
  font-size: 1.6rem;
  word-spacing: 0.2rem;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid deeppink;
  border-bottom: 5px solid deeppink;
}

/* WRITE YOUR CODE BELOW HERE */
html {
  font-size: 10px;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-family: 'alex_brushregular';
  letter-spacing: 0.5rem;
}

h2 {
  font-family: 'broadway';
}

section h2+p {
  text-indent: 20px;
}

a[href*="http"] {
  background: url("external-link.png") no-repeat right 30% / 1.6rem 1.6rem;
  padding-right: 2rem;
}

a:link {
  color: deeppink;
}

a:visited {
  color: deeppink;
}

a:focus {
  color: deeppink;
  text-decoration: none;
  outline: none;
}

a:hover{
  color: deeppink;
  text-decoration: none;
}

a:active {
  color: white;
  background: deeppink;
}

section ol {
  list-style: upper-roman;
}

nav ul {
  padding: 0;
}

nav ul li {
  font-size: 2.5rem;
  list-style: none;
  width: 100%;
  margin-bottom: 2rem;
}

nav ul li a {
  display: inline-block;
  text-decoration: none; 
  width: 100%;
  border: 1px solid deeppink;
  line-height: 3;
  text-align: center;
}

nav li a:hover {
  background: deeppink;
  color: white;
}

nav li a:active {
  background: linear-gradient(to bottom,red,yellow,red);
  color: black;
}

