/*import web font*/
@font-face {
    font-family: 'web-font';
    src: url('file:///D:/web/web-project/CSS样式化/排版社区大学首页/webfontwebfont/amaranth-regular-webfont.woff2') format('woff2'),
         url('file:///D:/web/web-project/CSS样式化/排版社区大学首页/webfont/amaranth-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General setup */

* {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
h1 {
  font-family: 'web-font',sans-serif;
  text-align: center;
}